:root {
	--color-white: #fff;
	--color-black: #000;
	--color-carbon-black: #1d1f20;
	--color-red: #f22f46;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-carbon-black);
}

.logo-outer-box {
	width: 140px;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-white);
	border-radius: 10px;
	box-shadow: 0 0 14px var(--color-white);
}

.logo-circle {
	width: 100px;
	height: 100px;
	border: 14px solid var(--color-red);
	border-radius: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	align-content: center;
	justify-items: center;
	column-gap: 5px;
	row-gap: 5px;
	grid-template-columns: 20px 20px;
}

.dots {
	width: 20px;
	height: 20px;
	background: var(--color-red);
	border-radius: 100%;
}